<div class="ui container">
    <div id="secondary_menu" class="ui large secondary pointing menu">
        <a class="toc item"><i class="sidebar icon"></i></a>
        <a class="active item" href="{{ url_for('index')}}"><i class="home icon"></i> Home</a>
        <a class="item"><i class="question circle outline icon"></i> Help</a>
        <a class="item"><i class="book icon"></i> Documentation</a>
        <a class="item" href="{{ url_for('info')}}"><i class="info circle icon"></i> About</a>
        <div class="right item">
            <a class="ui inverted button">Log In</a>
            <a class="ui inverted button">Sign Up</a>
        </div>
    </div>
</div>